ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
.slider{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.slider img{
	width: 100%;	
}
.slider .frame {
	max-width: 600px;
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid black;*/
	/*overflow: hidden;*/
}

.frame .slides {
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
}

.frame .slides>li {
	position: absolute;
	width: 100%;
	margin-right: 0px;
	font-size: 36px;
	text-align: center;
	line-height: 100%;
}
.frame .slides>li a{
	display: block;
}
.frame .slides>li img{
	display: block;
	width: 100%;
}
.slider-nav {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.slider-nav a {
	display: inline-block;
	font-size: 0;
	color: #000;
	min-width: 10%;
}

.pager{
	display: none;
}
.pager a {
	width: 20px;
	height: 20px;
	background-color: yellow;
	border: 1px solid black;
	margin: 5px;
}

.pager a.active {
	background-color: black;
}

.R {
	background-color: red;
}

.G {
	background-color: green;
}

.B {
	background-color: blue;
}

.C {
	background-color: cyan;
}

.M {
	background-color: magenta;
}

.Y {
	background-color: yellow;
}
